{% extends '::base.html.twig' %}
{% block contenu %}
    <div>
        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="erreur">
                {{ flash_message }}
            </div>
        {% endfor %}
        <div id="titre-accueil">
            <span class="gro-titre">
                BMG<br/>
                Intranet
            </span>
            <span class="erreur">Accès réservé</span>
        </div>
        <div id="logo_accueil">
            <img src="{{ asset('gestBMG/img/logo_accueil.jpg') }}" width="250" height="250" alt="" />
        </div>
    </div>
{% endblock %}
